@charset "utf-8";

 

.banner-container{
	width:600px;
	height:400px;

	margin:1rem auto;
	
	overflow: hidden;
	position: relative;
}
 
.banner-container .banner-img-container {
	width:3000px;
	height:400px;
	overflow: hidden;
	position: absolute;

	display: flex;
	animation: run 12s ease infinite;
}
 
.banner-container .banner-img-container img{
	width:600px;
	height:100%;
}
 

@keyframes run {
	0%,10%{

		transform: translateX(0);
	}
	20%,30%{

		transform: translateX(-1200px);
	}
	40%,50%{

		transform: translateX(-2400px);
	}
	80%{
	
		transform: translateX(0);
	}
}